[Desktop Entry]
Version=1.0
Type=Application
Name=Forge_WebUI_Legacy
Exec=xfce4-terminal -H -e "bash -c 'cd /start_scripts && ./start_forge_legacy.sh'"
Icon=utilities-terminal
Terminal=false
Categories=Utility;
